{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <style>
        .extra-html:has(div) {
            height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            width: auto;
        }

        .select2-container {
            border: 1px solid;
            border-left: none;
            border-radius: 4px;
            border-color: #d2d6da;
        }

        .input-group > .select2-container .select2-selection--single > .select2-selection__rendered {
            line-height: 30px;
        }
    </style>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card container mb-4" style="width:auto">
                    {% include 'includes/card-header.html' %}
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class=" p-0">
                            {{ header_form|safe }}
                            <form method="post" enctype="multipart/form-data">
                                {% for form in forms %}
                                    <div class="inputs"
                                            {% if form.extra_html %}{% endif %}>
                                        <h5 class="d-flex justify-content-between">{{ form.title }}</h5>

                                        {% include 'form.html' with form=form.form %}
                                        <div class="row">{{ form.sub_title }}</div>
                                        <div class="extra-html"
                                        > {{ form.extra_html |safe }}</div>
                                    </div>
                                    <hr>
                                {% endfor %}
                                <div class="row ">
                                    <div class="col-md-6">
                                        {% if back_url %}
                                            <a class="btn btn-outline-danger" href="{{ back_url }}"><i
                                                    class="fa fa-arrow-left"></i> Back</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6" style="text-align: end">
                                        <button class="btn btn-outline-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}


